@media all and (max-width: 394px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }

  .m {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #btn_img {
    width: 13px;
    height: 20px;
    margin-top: 30px;
    margin-left: 23px;
  }

  .header h1 {
    font-size: 1.5em;
    margin-top: 35px;
  }

  .h1-img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #problem_img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 8px;
  }

  .instructions {
    background-color: #e8f4fa;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 13px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }

  .n-h {
    padding-bottom: 0;
    margin-bottom: 15px;
    padding-top: 0;
    margin-top: 0;
  }

  .title {
    margin-top: 0;
    padding-top: 0;
    height: 34px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
  }

  .image-box {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #d6f0ff;
    padding: 3px;
    margin-bottom: 2px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .btn {
    padding: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d6f0ff;
  }

  #correct {
    background-color: #ffd700;
  }

  #incorrect {
    background-color: #d6f0ff;
  }

  .p-n {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  #next-question {
    border: none;
    background-color: transparent;
    font-size: 1em;
    display: flex;
    color: #6bb8ff;
    margin-left: 230px;
  }

  .opt {
    display: flex;
    padding: 20px;
    font-size: 1em;
    border: none;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d6f0ff;
    margin-bottom: 0;
    height: 75px;
    align-items: center;
    margin-top: 10px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 53px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  #home_img,
  #law_img,
  #search_img {
    width: 24px;
    height: 24px;
  }
}
