<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'tips:tstart' %}">뒤로가기</a>
    
    <h1>한국도로교통공단법</h1>
    <p>부     칙 <법률 제20167호,2024. 1. 30.>(한국도로교통공단법)</p>
    <p>제1조(시행일) 이 법은 공포 후 6개월이 경과한 날부터 시행한다.
        제2조 부터 제6조까지 생략
        제7조(다른 법률의 개정) ① 도로교통법 일부를 다음과 같이 개정한다.
        제12조의4제3항 중 “도로교통공단”을 “「한국도로교통공단법」에 따른 한국도로교통공단(이하 "한국도로교통공단"이라 한다)”으로 한다.
        제74조제2항제2호 중 “제120조 및 제121조에 따른 도로교통공단”을 “한국도로교통공단”으로 한다.
        제83조제1항 각 호 외의 부분 본문 중 “제120조에 따른 도로교통공단”을 “한국도로교통공단”으로 하고, 같은 항 각 호 외의 부분 단서 중 “도로교통공단”을 “한국도로교통공단”으로 하며, 같은 조 제2항 전단 중 “도로교통공단”을 “한국도로교통공단”으로 한다.
        제84조제3항 전단 중 “도로교통공단”을 “한국도로교통공단”으로 한다.
        제84조의2제1항 중 “도로교통공단”을 “한국도로교통공단”으로 한다.
        제87조제2항 각 호 외의 부분 중 “도로교통공단”을 “한국도로교통공단”으로 한다.
        제88조제1항 중 “도로교통공단”을 “한국도로교통공단”으로 한다.
        제90조 각 호 외의 부분 중 “도로교통공단”을 “한국도로교통공단”으로 한다.
        제11장(제120조부터 제125조까지, 제129조ㆍ제129조의2ㆍ제129조의3, 제130조부터 제132조까지, 제134조 및 제136조)을 삭제한다.
        제137조제2항 중 “공단”을 “한국도로교통공단”으로 하고, 같은 조 제3항 중 “공단”을 “한국도로교통공단”으로 하며, 같은 조 제4항 중 “공단”을 “한국도로교통공단”으로 하고, 같은 조 제5항 중 “공단”을 “한국도로교통공단”으로 한다.
        제139조제1항 각 호 외의 부분 단서 중 “공단”을 각각 “한국도로교통공단”으로 하고, 같은 조 제2항 각 호 외의 부분 중 “공단”을 “한국도로교통공단”으로 한다.
        제141조제4항을 삭제한다.
        제147조제5항 중 “공단”을 “한국도로교통공단”으로 하고, 같은 조 제6항 중 “공단”을 “한국도로교통공단”으로 한다.
        제150조제7호를 삭제한다.
        ② 생략
        제8조 생략</p>
</body>
</html>