<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'tips:tstart' %}">뒤로가기</a>
    
    <h1>자동차운전 전문학원 강사 및 기능검정원 자격의 취소 처분에 관한 경과조치</h1>
    <p>부      칙 <법률 제20270호, 2024. 2. 13.></p>
    <p>제1조(시행일) 이 법은 공포 후 6개월이 경과한 날부터 시행한다.
        제4조(자동차운전 전문학원 강사 및 기능검정원 자격의 취소 처분에 관한 경과조치) 이 법 시행 전의 범죄행위에 대한 자격의 취소 처분에 관하여는 종전의 규정에 따른다.</p>
</body>
</html>