<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'tips:tstart' %}">뒤로가기</a>

    <h1>자율주행자동차 시험운전자의 준수사항에 관한 경과조치</h1>
    <p>부      칙 <법률 제20375호, 2024. 3. 19.> </p>
    <p>제1조(시행일) 이 법은 공포 후 6개월이 경과한 날부터 시행한다. 다만, 제56조의3은 공포 후 1년이 경과한 날부터 시행한다.
        제2조(자율주행자동차 시험운전자의 준수사항에 관한 경과조치) 이 법 시행 당시 임시운행허가를 받은 자율주행자동차를 운전하는 사람으로서 교통안전교육을 받지 아니한 사람은 제56조의3의 개정규정에도 불구하고 같은 개정규정 시행 이후 6개월 이내에 교통안전교육을 받아야 한다.</p>

</body>
</html>