{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
      <div class="nav">
        <div class="nav_home">
          <a href="{% url 'home' %}"><img src="{% static 'img/home.png' %}" id="home_img" data-new-src="{% static 'img/home2.png' %}"></a>
        </div><!-- ~<div class="nav_home"> -->
  
        <div class="nav_law">
            <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/law.png' %}" id="law_img" data-new-src="{% static 'img/law2.png' %}"></a>
        </div><!-- ~<div class="nav_law"> -->

      </div><!-- ~<div class="nav"> -->
    </nav>
    <a href="{% url 'home' %}">뒤로가기</a>
    <br>
    <a href="{% url 'tips:tips_detail1' %}">1</a>
    <br>
    <a href="{% url 'tips:tips_detail2' %}">2</a>
    <br>
    <a href="{% url 'tips:tips_detail3' %}">3</a>
    <br>
    <a href="{% url 'tips:tips_detail4' %}">4</a>
    <br>
    <a href="{% url 'tips:tips_detail5' %}">5</a>
    <br>
    <a href="{% url 'tips:tips_detail6' %}">6</a>
    <br>
    <a href="{% url 'tips:tips_detail7' %}">7</a>
    <script src="{% static 'js/tips.js' %}"></script>
</body>
</html>