<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">뒤로가기</a>
    <br>
    <a href="{% url 'tips:tips_detail1' %}">1</a>
    <br>
    <a href="{% url 'tips:tips_detail2' %}">2</a>
    <br>
    <a href="{% url 'tips:tips_detail3' %}">3</a>
    <br>
    <a href="{% url 'tips:tips_detail4' %}">4</a>
    <br>
    <a href="{% url 'tips:tips_detail5' %}">5</a>
    <br>
    <a href="{% url 'tips:tips_detail6' %}">6</a>
    <br>
    <a href="{% url 'tips:tips_detail7' %}">7</a>
    
</body>
</html>