{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tips_detail.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav">
        <div class="nav_home">
          <a href="{% url 'home' %}"><img src="{% static 'img/home.png' %}" id="home_img" data-new-src="{% static 'img/home2.png' %}" /></a>
        </div>
        <!-- ~<div class="nav_home"> -->

        <div class="nav_law">
          <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/law.png' %}" id="law_img" data-new-src="{% static 'img/law2.png' %}" /></a>
        </div>
        <!-- ~<div class="nav_law"> -->
      </div>
      <!-- ~<div class="nav"> -->
    </nav>
    <div id="top">
      <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/back_white.png'%}" /></a>
      <h3>운전 꿀팁 !</h3>
    </div>
    <div id="detail_text">
      <h2>노상 시비・다툼 금지</h2>
      <p>
        도로에서 자동차를 세워둔 채 시비나 다툼 등으로 다른 차량의 통행을 방해하면 안된다. 이 경우 도로교통법 49조에 따라 20만 원 이하의 벌금이나 구류 또는
        과료, 2만~5만 원의 통고 처분과 벌점 10점을 부과 받을 수 있다. 도로 위의 시비와 다툼은 교통 정체를 유발할 뿐 아니라, 2차 사고의 위험도 있으니 지양해한다!
      </p>
    </div>
  </body>
</html>
