{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tips_detail.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav">
        <div class="nav_home">
          <a href="{% url 'home' %}"><img src="{% static 'img/home.png' %}" id="home_img" data-new-src="{% static 'img/home2.png' %}" /></a>
        </div>
        <!-- ~<div class="nav_home"> -->

        <div class="nav_law">
          <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/law.png' %}" id="law_img" data-new-src="{% static 'img/law2.png' %}" /></a>
        </div>
        <!-- ~<div class="nav_law"> -->
      </div>
      <!-- ~<div class="nav"> -->
    </nav>
    <div id="top">
      <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/back_white.png'%}" /></a>
      <h3>운전 꿀팁 !</h3>
    </div>
    <div id="detail_text">
      <h2>주행 중 내비게이션 조작 금지</h2>
      <p>
        주행 중 내비게이션 조작은 교통법규 위반이다. 주행 중 내비게이션에 포함된 DMB를 시청하는 것 역시 교통법규 위반에 해당하니 주의해야 한다. 적발 시 최고
        7만원의 벌금과 15점의 벌점이 부과될 수 있다.
      </p>
    </div>
  </body>
</html>
