<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'tips:tstart' %}">뒤로가기</a>
    
    <h1>운전면허의 취소ㆍ정지에 관한 적용례</h1>
    <p>부      칙 <법률 제20270호, 2024. 2. 13.></p>
    <p>제1조(시행일) 이 법은 공포 후 6개월이 경과한 날부터 시행한다.
        제3조(운전면허의 취소ㆍ정지에 관한 적용례) 제93조제1항제11호의 개정규정은 운전면허를 받은 사람이 이 법 시행 이후 자동차등을 범죄의 도구나 장소로 이용하여 「보험사기방지 특별법」 중 제8조부터 제10조까지의 죄를 범한 경우부터 적용한다.</p>
</body>
</html>