<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'tips:tstart' %}">뒤로가기</a>
    
    <h1>교통안전교육강사, 자동차운전 전문학원 강사 및 기능검정원 결격사유에 관한 적용례</h1>
    <p>부      칙 <법률 제20270호, 2024. 2. 13.></p>
    <p>제1조(시행일) 이 법은 공포 후 6개월이 경과한 날부터 시행한다.
        제2조(교통안전교육강사, 자동차운전 전문학원 강사 및 기능검정원 결격사유에 관한 적용례) 제76조제3항제2호나목ㆍ다목ㆍ라목, 제106조제3항제1호 및 제107조제3항제2호의 개정규정은 이 법 시행 이후 발생한 범죄행위로 형벌을 받은 자부터 적용한다. 다만, 「교통사고처리 특례법」 제3조제1항 또는 「특정범죄 가중처벌 등에 관한 법률」 제5조의3을 위반한 사람에 대해서는 종전의 규정에 따른다.</p>
</body>
</html>