{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/tips_detail.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav">
        <div class="nav_home">
          <a href="{% url 'home' %}"><img src="{% static 'img/home.png' %}" id="home_img" data-new-src="{% static 'img/home2.png' %}" /></a>
        </div>
        <!-- ~<div class="nav_home"> -->

        <div class="nav_law">
          <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/law.png' %}" id="law_img" data-new-src="{% static 'img/law2.png' %}" /></a>
        </div>
        <!-- ~<div class="nav_law"> -->
      </div>
      <!-- ~<div class="nav"> -->
    </nav>
    <div id="top">
      <a href="{% url 'tips:tstart' %}"><img src="{% static 'img/back_white.png'%}" /></a>
      <h3>운전 꿀팁 !</h3>
    </div>
    <div id="detail_text">
      <h2>반려동물 안고 운전 시 범칙금</h2>
      <p>
        반려동물을 안고 운전 시 도로교통법 39조 5항에 의해 승합차 5만 원, 승용차 4만 원의 범칙금이 부과된다. 반려동물과 함께 차량에 탑승할 경우 이동식 케이지나
        전용 카시트를 사용해야 한다.
      </p>
    </div>
  </body>
</html>
