{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style_game.css' %}" />
    <title>Document</title>
  </head>
  <nav>
    <div class="nav">
      <div class="nav_home">
        <a href="{% static 'home.html'%}"><img src="{% static 'img/home.png'%}" id="home_img" /></a>
      </div>
      <!-- ~<div class="nav_home"> -->

      <div class="nav_law">
        <a href="{% static 'law.html'%}"><img src="{% static 'img/law.png'%}" id="law_img" /></a>
      </div>
      <!-- ~<div class="nav_law"> -->
    </div>
    <!-- ~<div class="nav"> -->
  </nav>
  <body>
    <div id="back_btn">
      <img src="{% static 'img/back_blue.png' %}" alt="Back Blue Image" />
    </div>
    <div id="top">
      <img src="{% static 'img/bammm.png' %}" />
      <h3>반응 속도</h3>
    </div>
    <div id="box">
      <div id="text">
        <h4>게임 방법</h4>
        <h5>초록불이 나오면 엑셀을,</h5>
        <h5>빨간불이 나오거나 고라니 캐릭터가 튀어나오면</h5>
        <h5>브레이크를 누르세요.</h5>
        <h5>고라니가 나온 후 브레이크를 누른</h5>
        <h5>반응 시간을 측정하여 게임이 종료됩니다.</h5>
      </div>
      <img src="{% static 'img/Group_img.png'%}" />
    </div>
    <a href="{% url 'reaction:game' %}"><button>START</button></a>
  </body>
</html>
